<li [ngClass]="{'list-group-item':true,'list-group-item-success':[appareilStatus]=='allumé','list-group-item-danger':[appareilStatus]=='éteint'}">
  <div style="width:20px;height:20px;background:red;" *ngIf="[appareilStatus]=='éteint'"></div>
  <h3 [ngStyle]="{color:getColor()}">Appareil : {{appareilName}} -- Status : {{appareilStatus}}</h3>
  <input type="text" class="form-control" [ngModel]="appareilName"/>
  <a [routerLink]="[id]">Détais</a>
  <button class="btn btn-success" (click)="onSwitchOn()" [disabled]="appareilStatus=='allumé'">Allumer</button>&nbsp;
  <button class="btn btn-danger" (click)="onSwitchOff()" [disabled]="appareilStatus=='éteint'">Eteindre</button>
</li>
